{% extends 'app/base.html' %}

{% load static %}

{% block contenido %}
  {% if request.user.is_authenticated %}
    <h3>Bienvenido</h3>
    <hr>
    <h4>{{ user.username | upper }}, Bienvenido</h4>
  {% endif %}
  <hr>
  <div class="container">
    <h1>Fotografia</h1>
    <div class="table-responsive">
      <table id="customers" class="table table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Fotografía</th>
            <th>Precio</th>
            <th colspan="3" id="mid">Realizar</th>
          </tr>
        </thead>
        <tbody>
          {% for x in foto %}
            <tr>
              <td>{{ x.id }}</td>
              <td>{{ x.nombre }}</td>
              <td>{{ x.descripcion }}</td>
              <td>
                <img src="{{ x.archivo_fotografia.url }}" alt="{{ x.nombre }}" class="img-fluid">
              </td>
              <td>{{ x.precio }}</td>
              <td>
                {% if user.is_superuser %}
                  <a href="actualizarProducto/{{ x.id }}"><button class="btn btn-primary">Actualizar</button></a>
                
              </td>
              <td>
                <a href="eliminar/{{ x.id }}"><button class="btn btn-danger">Eliminar</button></a>
                {% endif %}
              </td>
              <td>
                <a href="{% url 'Add' x.id %}"><button class="btn btn-success" onclick="mostrarAlerta()">Agregar Carrito</button></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <br><br>
    {% if user.is_superuser %}
      <a href="{% url 'agregarProducto' %}"><button class="btn btn-info">Agregar Producto</button></a><br><br>
    {% endif %}
    <div class="row col-8">
      {% include "app/carrito.html" %}
    </div>
  </div>
  <div class="row 12">
    <img src="{% static 'app/imgs/periodistas.jpg' %}" class="img-fluid">
  </div>
  <script>
    function mostrarAlerta() {
      alert("Producto agregado al carrito");
    }
  </script>
{% endblock %}
